@charset "UTF-8";

body {
    color: rgba(209,193,180,1.00);
    height: 1000;
    font-size: 11pt;
    font-family: 'Oswald', sans-serif;
    background-position: 81% 9%;
    background-color: rgba(28,29,24,1.00);
}

navbar {
    width: 11px;
    min-width: 18px;
    min-height: 26px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 42px;
}
body section {
    background-image: url(../images/ShawnMendes-blog.png);
    height: 197px;
    min-width: 86px;
    background-repeat: repeat-x;
    background-size: 313px auto;
    background-position: 2% 0%;
}
.column {
  float: left;
  width: 50%;

}
body footer {
    background-color: rgba(105,98,90,0.91);
    margin-top: 41px;
    text-align: center;
    text-transform: uppercase;
}
.row .column .text-center.text-capitalize {
    color: rgba(210,194,180,1.00);
}
h4 {
    color: rgba(200,185,171,1.00);
}
